# Python bytecode.
*.py[co]

# Generated distribution files.
# :see: https://packaging.python.org/distributing/
PyOTA.egg-info/*
build/*
dist/*

# Sphinx documentation
docs/_build/

# Created by ``setup.py test``.
.eggs/*

# Virtualenvs for unit tests.
# https://tox.readthedocs.io/en/latest/
.tox/*

#
# Note:  For environment- or IDE-specific metadata (e.g., .DS_Store, .idea, etc.
# you can add these to your own "global" .gitignore file.
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore
#
